
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-normal
    }
}



.borderr {
    border: 1px solid green;
}
.borderrr {
    border: 1px solid red;
}

.custom-h {
    height: 600px;
}

.custom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* lg */
@media screen and (min-width: 1014px) {
    .custom-h {
        height: 520px;
    }
}